.container {
    display: flex;
    min-height: 100vh;
    background-color: var(--background);
}

.main {
    flex: 1;
    margin-left: 260px;
    /* Width of sidebar */
    padding: 2rem;
    overflow-y: auto;
}